@import "tailwindcss";

:root {
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
body {
  padding: 8px 16px;
  border: 2px solid rgb(132, 94, 194); /* Clean border */
  border-radius: 6px;

}

button{
  background-color: rgb(162, 126, 235);
  color: white;
  padding: 8px 16px;
  border: 2px solid rgb(132, 94, 194);
  border-radius: 6px;
  font-weight: bold;
  display: inline-block;
  margin: 6px;
  text-align: center;
  font-size: 14px;
  transition: background-color 0.2s ease;
}

button:hover, a:hover {
  background-color: rgb(140, 105, 215);
}
.header {
  border: 5px solid rgb(132, 94, 194);
  border-radius: 10px;
  padding: 16px;
  margin: 16px auto;
  background-color: #f1d4f1;
}
.category-box {
  border: 2px solid rgb(132, 94, 194);
  border-radius: 10px;
  padding: 16px;
  margin: 16px auto;
  max-width: 600px;
  background-color: #d2d2f0;
}

.category-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.project-list {
  list-style-type: disc;
  padding-left: 20px;
  text-align: left;
}

.project-item {
  padding: 4px 0;
  font-size: 16px;
  color: #555;
}

.no-projects {
  font-style: italic;
  color: #999;
}

.top-bar {
  position: relative;
  border: 5px solid rgb(132, 94, 194);
  border-radius: 10px;
  padding: 16px;
  margin: 16px auto;
  background-color: #f1d4f1;
  min-height: 120px;
}

.top-bar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.top-bar-left,
.top-bar-right {
  display: flex;
  gap: 10px;
}

.portfolio-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.portfolio-title,
.portfolio-specialty {
  margin: 0;
  font-size: 25px;
}